<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Telerik UI for WPF 2022.3.912" value="C:\Program Files (x86)\Progress\Telerik UI for WPF 2024 Q4\Binaries\WPF80\NuGet" />
  </packageSources>
</configuration>